  .Contact-Form {
    background-color: lightgreen;
    text-align: center;
    max-width: 50%;
    margin: 20px auto;
    vertical-align: middle;
    height: calc(100vh - 160px);
  }

  .label {
    padding-bottom: 15px;
  }

  Form {
    vertical-align: middle;
    border: 1px solid lightgreen;
    border-radius: 10px;
    padding: 20px;
  }