.skills-container {
    /* background-image:  url("greenBG.jpg"); */
    /*opacity: 0.6;*/
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
    /* vertical-align: middle; */
}

hr {
    border: none;
    border-top: 1px dotted rgb(255, 255, 255);
    color:#fff;
    background-color:#fff;
    height: 1px;
    width: 40%;
}

p {
    color: white;
}


@media screen and (max-width: 1005px) {

    hr {
        border: none;
        border-top: 1px dotted rgb(255, 255, 255);
        color:#fff;
        background-color:#fff;
        height: 1px;
        width: 80%;
    }

    p {
        color: white;
    }
}