.resume-container {
    /* background-image:  url("greenBG.jpg"); */
    /*opacity: 0.6;*/
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
    /* vertical-align: middle; */
}

p, h1 {
    color: white;
}

.resumeFrame {
    width:80%;
    height:80vh;
    border: 4px solid #63d471;
}


@media screen and (max-width: 1005px) {

    p {
        color: white;
    }

    .resumeFrame {
        width:80%;
        height:70vh;
        border: 4px solid #63d471;
    }
}