.about-container {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.aboutLabel {
    color:white;
}

.skillsLabel {
    color:white;
}

.list:hover, .blurb:hover, .skillsLabel:hover, .aboutLabel:hover {
    color:lightgreen;
}

.photo {
    width: 30%;
    border: 2px solid lightgreen;
    margin-left: 70px;
    margin-right: 70px;
    float: left;

}

.blurb {
    margin-left: 70px;
    margin-right: 70px;
    text-align: left;
}



.act-images {
    width: 5%;
    margin: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

hr {
    border: none;
    border-top: 1px dotted rgb(255, 255, 255);
    color:#fff;
    background-color:#fff;
    height: 1px;
    width: 50%;
}

@media screen and (max-width: 1005px) {
    .about-container {
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        align-items: center;
    }
    
    .aboutLabel {
        color:white;
    }
    
    .skillsLabel {
        color:white;
    }

    .list:hover, .blurb:hover, .skillsLabel:hover, .aboutLabel:hover {
        color:lightgreen;
    }
    
    .photo {
        width: 50%;
        border: 2px solid lightgreen;
        margin-left: 30px;
        margin-right: 30px;
        float: none;
    }
    
    .blurb {
        margin-left: 70px;
        margin-right: 70px;
    }
    .act-images {
        width: 5%;
    }

    hr {
        border: none;
        border-top: 1px dotted rgb(255, 255, 255);
        color:#fff;
        background-color:#fff;
        height: 1px;
        width: 80%;
    }
    
}