.Footer {
    background-color: #63d471;
    background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
    margin-top: 0px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    width:100%;
    font-weight: 700;  
    position: fixed;
    bottom: 0;  
}

.footer-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 20px;
    list-style: none;
    text-align: center;
    color: white;
    /* width: 70vw; */
    justify-content: end;
    margin-right: 2rem;
    text-decoration: none; 

}
.contact-links {
    color: white;
}

.footer-icons {
    padding-right: 15px;
    width: 5%;   
}

.links {
    display: inline;
}

.a {
    text-decoration: none;
}

@media screen and (max-width: 990px) {
    .Footer {
        color: white;
        position: fixed;
        bottom: 0;  
    }

    .contact-links {
        color: white;
        text-decoration: none;
    }
    .footer-icons {
        padding-right: 15px;
        width: 25%;   
    }

    a {
        color: white;
        text-decoration: none;
    }

    .links {
        display: none;
    }

    /*.footer-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        grid-gap: 0px;
        height: 430px;
        position: absolute;
        top: 80px;
        left: -200%;
        opacity: 1; 
        transition: all 0.5s ease;
    }*/
}