.home-container {
    /* background-image:  url("greenBG.jpg"); */
    /*opacity: 0.6;*/
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
    /* vertical-align: middle; */
}

/* .textCenter {
    align-items: center; 
} */
.headshot {
    /* margin-top: 20px; */
    width: 40%;
    align-items: center;
    vertical-align: middle;
    margin: 20px;
    border: 4px solid green;
    border-radius: 500px;
    box-shadow:5px 5px 5px green; 
}

.homeName {
    color: white;
}

.homeAttributes {
    color: white;
}


@media screen and (max-width: 990px) {
    .headshot {
        width: 80%;
    }
}